*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto !important;
}
/* navbar css rgb(155, 132, 188, 1) */
.navbar-bg-color{
    /* background: #5F96CE !important; */
    background: #4EBDE4 !important;
}
.right-panel i{
    color: #FFF;
}
.float-margin-right{
    margin-right: 25%;
}
.nav-user-bg{
    background: #4EBDE4 !important;
    border: none !important;
    color: #FFF !important;
}
.icon-size{
    font-size: 35px;
    color: #FFF;
    margin: 25% 30%;
}
.nav-user-bg-color{
    background-color: #4EBDE4 !important;
}
.nav-user-bg-color span{
    color: #FFF !important;
}
.left-aside-width{
    background: #3F589E !important;
    position: absolute !important;
}
/* aside css */
.mt-5{
    margin-top: 4.4rem !important;
} 
.model-footer-view{
    justify-content: center !important;
}
.content-page-overview{
    padding:  5px 35px !important;
}
.page-item.active.page-link{
    background-color: #39afd1 !important;
}
.aside-bg-color li a{
    color: #FFF !important;
    font-size: 18px !important;
}
.aside-bg-color i{
    color: #FFF !important;
    font-size: 18px !important;
}
.aside-bg-color span{
    color: #FFF !important;
    font-size: 18px !important;
}
aside ul li .active{
    color: #7ABAFB !important;
} 
/* footer css */
.footer-overall{
    padding: 10px !important;
}
.footer p{
    float: right;
    margin-bottom: 0 !important;
}


/* body css page */
.btn-bg-color{
    background-color: #243871;
    padding: 10px 30px;
    color: #FFF;
    font-size: 18px;
}
.btn-bg-color:hover{
    color: #FFF !important;
}
.topic-head{
    color: #3f589e !important;
    font-size: 25px !important;
}
form label{
    color: #3f589e;
    font-size: 18px;
    font-weight: 500 !important;
}
 .topic-path ol li a{
    color: #3f589e;
    font-size: 15px;
    font-weight: 700;
}
.topic-path .active{
    font-size: 15px;
    font-weight: 700;
}
table th{
    color: #632a7d;
    font-size: 15px;
}
.add-category-btn{
    background-color: #3F589E;
    padding: 0px 40px;
    color: #FFF;
    font-size: 22px;
}
