*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Roboto !important;
}
.navbar-bg-color{
    background: #632a7d !important;
}
.right-panel i{
    color: #FFF;
}
.nav-user-bg{
    background: #632a7d !important;
    border: none !important;
    color: #FFF !important;
}
.icon-size{
    font-size: 35px;
    color: #FFF;
    margin: 25% 30%;
}
/* aside css */
.mt-5{
    margin-top: 4.4rem !important;
} 
.left-aside-bg{
    background: #f1f3fa !important;
    position: absolute !important;
}
.aside-bg-color li a{
    color: #6c757d !important;
    font-size: 18px !important;
}
.aside-bg-color i{
    color:#6c757d !important;
    font-size: 18px !important;
}
.aside-bg-color span{
    color: #6c757d !important;
    font-size: 18px !important;
}
aside ul li .active{
    color: #632a7d !important;
} 

/* body css */
.btn-bg-color{
    background-color: #632a7d;
    padding: 10px 30px;
    color: #FFF;
    font-size: 18px;
}
.model-footer-view{
    justify-content: center !important;
}
.btn-bg-color:hover{
    color: #FFF !important;
}
.topic-head{
    color: #632a7d !important;
    font-size: 25px !important;
}
form label{
    color: #632a7d;
    font-size: 18px;
    font-weight: 500 !important;
}
 .topic-path ol li a{
    color: #632a7d;
    font-size: 15px;
    font-weight: 700;
}
.topic-path .active{
    font-size: 15px;
    font-weight: 700;
}
table th{
    color: #243871;
    font-size: 15px;
}
tbody tr td{
    font-weight: 800 !important;
}
.add-category-btn{
    background-color: #3F589E;
    padding: 0px 40px;
    color: #FFF;
    font-size: 22px;
}
